<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Root_Directory" value="C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\" />
    <add key="IA_Directory" value="C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\IdealApp\bin\Debug\net7.0\Primary.exe" />
    <add key="IA_Proxy_Directory" value="C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\IdealAppProxy\bin\Debug\net7.0\Secondary.exe" />
    <add key="IA_Spawn_Main_Directory" value="C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\SpawnMain\bin\Debug\net7.0\Intermediate Backward.exe" />
    <add key="IA_Spawn_Proxy_Directory" value="C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\SpawnProxy\bin\Debug\net7.0\Intermediate.exe" />
    <add key="IA_GUI_Directory" value="C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\IdealApp_Editor\bin\Debug\net7.0-windows10.0.19041.0\IA_GUI.exe" />
    <add key="IA_Service_Directory" value="C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\DetectionService\bin\Debug\ServiceTest.exe" />
  </appSettings>
  <connectionStrings>
    <add name ="Plan" connectionString="Data Source=C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\plans.db" providerName ="System.Data.SqlClient"/>
    <add name ="Root" connectionString="Data Source=C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\root.db" providerName ="System.Data.SqlClient"/>
    <add name ="Stat" connectionString="Data Source=C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\stats.db" providerName ="System.Data.SqlClient"/>
    <add name ="PlanRead" connectionString="Data Source=C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\plans.db;Read Only=True;" providerName ="System.Data.SqlClient"/>
    <add name ="RootRead" connectionString="Data Source=C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\root.db;Read Only=True;" providerName ="System.Data.SqlClient"/>
    <add name ="StatRead" connectionString="Data Source=C:\Users\MD3728\Documents\Programming\C#\Ideal_App\Processes\stats.db;Read Only=True;" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>