<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Root_Directory" value="C:\Program Files (x86)\IdealApp\" />
    <add key="IA_Directory" value="C:\Program Files (x86)\IdealApp\Primary.exe" />
    <add key="IA_Proxy_Directory" value="C:\Program Files (x86)\IdealApp\Secondary.exe" />
    <add key="IA_Spawn_Main_Directory" value="C:\Program Files (x86)\IdealApp\Intermediate Backward.exe" />
    <add key="IA_Spawn_Proxy_Directory" value="C:\Program Files (x86)\IdealApp\Intermediate.exe" />
    <add key="IA_GUI_Directory" value="C:\Program Files (x86)\IdealApp\IA_GUI.exe" />
    <add key="IA_Service_Directory" value="C:\Program Files (x86)\IdealApp\ServiceTest.exe" />
  </appSettings>
  <connectionStrings>
    <add name ="Plan" connectionString="Data Source=C:\Program Files (x86)\IdealApp\plans.db" providerName ="System.Data.SqlClient"/>
    <add name ="Root" connectionString="Data Source=C:\Program Files (x86)\IdealApp\root.db" providerName ="System.Data.SqlClient"/>
    <add name ="Stat" connectionString="Data Source=C:\Program Files (x86)\IdealApp\stats.db" providerName ="System.Data.SqlClient"/>
    <add name ="PlanRead" connectionString="Data Source=C:\Program Files (x86)\IdealApp\plans.db;Read Only=True;" providerName ="System.Data.SqlClient"/>
    <add name ="RootRead" connectionString="Data Source=C:\Program Files (x86)\IdealApp\root.db;Read Only=True;" providerName ="System.Data.SqlClient"/>
    <add name ="StatRead" connectionString="Data Source=C:\Program Files (x86)\IdealApp\stats.db;Read Only=True;" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>